api_id = XXXXXXX
api_hash = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
user = 'foo'
# Base URL for feeds links
host = 'http://127.0.0.1:9504'
bind = '127.0.0.1'
web_port = 9504
irc_port = 6667
db_url = 'sqlite://cache.db'
